<h1>Editing Cocktail</h1>

<%= render 'form_edit' %>

<div class="btn-group" role="group">
<%= link_to 'Show', @cocktail, {class: "btn btn-primary btn-sm"} %>
<%= link_to 'Back', cocktails_path, {class: "btn btn-primary btn-sm"} %>
</div>
<br>