.footer{
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 60px;
  text-align: right;
  width: 100%;
}

/*
==============================================
For a footer at bottom of page
==============================================
*/

html,
body {
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
  height:100%;
}


#wrapper_container {
  min-height:100%;
  position:relative;
  margin-top: 70px;
}

.content_container{
  padding-bottom: 80px;
  padding-left: 2em;
  padding-right: 2em;

}

#footer_container {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
}
