.header_container {
  z-index:3;
  top:0px;
  width:100%;
  position:fixed;
  padding:0px;
  }

.show {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

.hide {
   visibility: hidden;
   opacity: 0;
  transition: 2s;
}
