<h1>Editing Dose</h1>

<%= render 'form' %>
<br>

<div class="btn-group" role="group" aria-label="buttons">
<%= link_to 'Show', cocktail_doses_path(@dose.cocktail), {class: "btn btn-primary btn-sm"}  %>
<%= link_to 'Back', :root, {class: "btn btn-primary btn-sm"} %>
</div>